<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BestGoods</title>
    <!--Container for metadata(is not displayed)
    Title, Styles, Link, Scripts, Meta and others
    -->
    <meta name ="Mehmet">


</head>

<body>
<h1>Welcome to Hotel California !!!</h1>

<h1>Reception</h1>
<h2>Reception</h2>
<h3>Reception</h3>

<h1 align="center" style="color:purple">RESERVATION</h1>
<img src="Hotel-California.png" alt="Hotel California">


<ul>
    <li>1. Floor</li>
    <li>2. Floor</li>
    <li>3. Floor</li>
</ul>

<a href="www.tanproje.com">TAN PROJE</a>

<table>
    <tr>
        <td>Suit</td>
        <td>King</td>
        <td>Queen</td>
    </tr>
    <tr>
        <td>* Corner Suit</td>
        <td>* 2+1 Suit</td>
        <td>* 1+1 Suit</td>
    </tr>
</table>

<label>User Name:</label>
<input type="text" name="username"><br>
<label>Password:</label>
<input type="text" name="password"><br>
<label>Enter Your Comments:</label>
<textarea name="comments"></textarea><br>

<h3><label>Please select your fav room type: </label></h3><br>
<input type="radio" name="Type" value="Corner Suit" checked="checked">Corner Suit
<input type="radio" name="Type" value="2+1 Suit">2+1 Suit
<input type="radio" name="Type" value="1+1 Suit">1+1 Suit<br>

<h3><label>Please select your floor: </label></h3><br>
<input type="checkbox" name="Floor" value="1. Floor">1. Floor
<input type="checkbox" name="Floor" value="2. Floor">2. Floor
<input type="checkbox" name="Floor" value="3. Floor">3. Floor<br>

<h3><label>Select your accommodation month: </label></h3><br>
<select name="Months">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
</select>

<br>

<form action="#" method="get">
    First name :<input type="text" name="first_name">
    <br>
    Last name :<input type="text" name="last_name">
    <br>
    Credit-Card :<input type="text" name="last_name">
</form>

<div>
    <h3>This is Hotel California web-page</h3>
    <ul>
        <li>Six Star Hotel</li>
        <li>Private Swimming Pools</li>
        <li>All Day Breakfast</li>
    </ul>
</div>

</body>
</html>